# Caddyfile - config for personal Caddy instance
# johnaoss, github.com/johnaoss

# For main website
https://johnoss.com {
	root /var/www/homepage
	index index.html
	gzip
	ext .html
	log index.log
}

# For the bunch of Docker containers I run.
https://homelab.johnoss.com {
	# Current port of the irccontianer
	proxy / localhost:9000
	# Current port of the transmission container
	proxy /transmission localhost:9091
	log docker.log

}

# For the file server
https://homelab.johnoss.com/files {
	root /home/docker/transmission/downloads/complete/
	browse
	log files.log
}

# For testing purposes (my other side projects!)
https://test.johnoss.com {
	proxy / localhost:5000
}
